*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
}

button{
    background-color: cyan;
    border-radius: 10px;
    text-decoration: none;
}

button:focus{
    outline: 0;
}

body{
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

li{
    margin: 5px 0px;
    font-size: 20px;
    color: rgb(0, 182, 0);
}

#startButton,
#submitButton{
    margin-top: 5%;
    width: 225px;
    height: 75px;
    font-size: 25px;
}

#timer{
    font-size: 35px;
    margin-top: -30px;
    color: red;
}

#appTitle{
    font-size: 75px;
    color: orange;
}

#currentScore{
    font-size: 30px;
}

#quiz {
    display:none;
}

#question{
    white-space: break-spaces;
}

.answerChoices {
    font-size: 15px;
    line-height: 1.4;
    margin-top: 5px;
    text-align: center;
    height: 50px;
    width: 500px;
}

.answerChoices:hover{
    color:rgb(255, 0, 255);
    background-color: greenyellow;
}

#nextQuestion {
    margin-top: 10px;
}

#submitButton {
    display: none;
}

#yourScore{
    display: none;
}

#finalScore{
    font-size: 50px;
    color: rgb(202, 0, 252);
}

#userInitials{
    height: 25px;
    width: 350px;
}

#saveButton{
    margin-top: 5%;
    width: 200px;
    height: 35px;
    font-size: 25px;
}

#hiScoreTable {
    display: none;
}

#top5Scorers,
#youPlaced{
    font-size: 40px;
    color: rgb(202, 0, 252);
}