#quiz {
    display:none;
}

#question{
    white-space: break-spaces;
}

#nextQuestion {
    margin-top: 10px;
}
.answerChoices {
    display: block;
    line-height: 1.4;
    margin: 5px;
    text-align: left;
    height: 50px;
    width: 500px;
}

#submitButton {
    display: none;
}

#yourScore{
    display: none;
}

#hiScoreTable {
    display: none;
}